
<!-- --Profile----->
<h1>周桐 | Tong Zhou | シュウ ドウ</h1>
<h2>Profile・プロファイル</h2>

<div class="profile-section">
    <img src="screenshot_profile_photo.png" alt="Profile Photo" class="profile-photo">
    <div class="profile-name">
        <p class="profile-name"><strong>周桐</strong> <span lang="en">Tong Zhou</span> <span lang="ja">シュウ ドウ</span></p>
        <p class="profile-normal-text">
        Ph.D. student in Media Informatics.<br>
        <span>Ryukoku University (Graduate School of Science and Technology).</span><br>
        <span class="text-jpn" lang="ja">龍谷大学大学院　博士後期課程　在学</span><br>
        Expected to graduate in March 2026<br>
        <span class="text-jpn" lang="ja">（2026年3月　修了見込み）</span>
        </p>
    </div>
</div>
<h3>Institution・所属</h3>
Media Informatics, Graduate School of Science and Technology, Ryukoku University
<br>
<span class="text-jpn" lang="ja">龍谷大学大学院　理工学研究科　情報メディア学 </span>
<h3>Research Interests・研究分野</h3>
Acoustic Signal Processing, Multi-zone Sound Field Reproduction, Sound Field Control, Tikhonov Regularization, Optimization
<br>
<span class="text-jpn" lang="ja">音響信号処理、複数エリア再生、音場制御、Tikhonov正則化、最適化</span>
<!-- --Profile - > Skills----->

<h3>Coding Languages・開発言語</h3>
<ul>
    <li>MATLAB</li>
    <li>C++</li>
    <li>Python</li>
</ul>
