<h2>MORE・その他</h2>
Birthplace: Anhui province, China<br>
<span class="text-jpn" lang="ja">出身：中国安徽省</span>

<h3>Languages・語学</h3>
<ul>
  <li>Chinese: Native speaker <span class="text-jpn" lang="ja">（ネイティブ）</span></li>
  <li>English: C1 <span class="text-jpn" lang="ja">(TOEIC L&R 950点)</span></li>
  <li>Japanese: C1 <span class="text-jpn" lang="ja">（日本語能力試験N1）</span></li>
  <li>German: A1</li>
</ul>

<p>
  <a class="small-gray-link"
     href="https://www.coe.int/en/web/common-european-framework-reference-languages/table-1-cefr-3.3-common-reference-levels-global-scale">
    Check global scale of CEFR
  </a>
</p>

<h3>Hobbies・趣味</h3>
<p>
  Hiking, snowboarding, bouldering, board games, guitar, ukulele, knitting<br>
  <span class="text-jpn" lang="ja">ハイキング、スノーボード、ボルダリング、ボードゲーム、ギター、ウクレレ、編み物</span>
</p>

<h3>Links・リンク</h3>
<i class="fab fa-github" style="font-size:24px"></i>
<a href="https://github.com/tanyazhou1234" target="_blank" rel="noopener">GitHub</a><br>

<i class="fab fa-youtube" style="font-size:24px;color:red"></i>
<a href="https://www.youtube.com/@zhou6636/videos" target="_blank" rel="noopener">YouTube</a>

<br><br>
<h2>Contact</h2>
<i class="fa fa-envelope" style="font-size:20px"></i>
<a href="mailto:tanyazhou1234@gmail.com">tanyazhou1234[at]gmail.com</a>
