* {
    box-sizing: border-box;

}

h1 {
    font-size: 1.5rem;
    color: Black;
    background-color: #c0e4e9;
}

h2 {
    color: rgb(10, 87, 87);
}

h3 {
    color: Black;
}

p {
    text-indent: 30px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    color: black;
    background-color: #f8f9fa;
    font-family: Times New Roman, Helvetica, sans-serif;
}

main {
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    line-height: 1.5;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #B0E0E6;
    font-weight: bold;
}

nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #aaa;
    text-align: center;
    text-decoration: none;
    color: #000;
}

nav a[aria-current='page'] {
    color: #000;
    background-color: #5F9EA0;
}

#content-area {
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#left-sidebar {
    /*---profile---*/
    flex: 1.2;
    background-color: #f8f9fa;
    padding: 10px;
    box-sizing: border-box;
}

#main-content {
    /*---News---*/
    flex: 1.2;
    background-color: #e9ecef;
    padding: 10px;
    box-sizing: border-box;
}

#right-sidebar {
    /*---Contact Info---*/
    flex: 0.8;
    background-color: #f8f9fa;
    padding: 10px;
    box-sizing: border-box;
}

/*----------self-defined class-----*/
.small-gray-link {
    font-size: 0.5em;
    /* Adjust as needed */
    color: gray;
}

.profile-section {
    display: flex;
    /* Make the children align horizontally */
    align-items: center;
    /* Center align vertically */
}

.profile-photo {
    height: 150px;
    /* You can adjust the height */
    width: auto;
    /* You can adjust the width */
    margin-right: 10px;
    /* Space between the image and name */
}

.profile-name {
    font-size: 1.2rem;
    /* Adjust the font size */
    font-weight: bold;
    /* Make it bold */
    line-height: 2;
    text-align: center;
    /* Center the text */
}

.profile-normal-text {
    font-size: 1rem;
    /* You can adjust the font size to make it appear "normal" */
    margin: 0;
    /* Removes any default margin */
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
}

.text-jpn {
  display: inline;
  color: #666;
  font-size: 0.95em;
}


ol li { margin-bottom: 0.8em; }



/*----for smaller screens ,make it vertical-----*/
@media screen and (max-width: 768px) {
    #content-area {
        flex-direction: column;
    }

    #left-sidebar,
    #main-content,
    #right-sidebar {
        flex: none;
        /* Reset flex values */
        width: 100%;
        /* Full width */
        padding: 10px;
    }
}

.fas.fa-envelope {
    margin-right: 5px;
    /* Adjust as desired */
}

/* --- for table --- */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #fafafa;
}

